<link rel="stylesheet" type="text/css" href="index.scss"> 
<body data-new-gr-c-s-check-loaded="14.984.0" data-gr-ext-installed="">

  <!-- search bar -->
  <div id="search_bar">
    <%= form_tag(search_index_path, method: "get") do %>
    <%= text_field_tag :query %>
    <label for = "query"><button class = "btn btn-dark" type = "submit" value = "enter-search" style = "margin-left: 5px;">Search</button></label>
    <% end %>
  </div>
 


  <div class = "container" id = "narrow-search">
    <button class="btn btn-dark" data-toggle="collapse" data-target="#fundsNavbar" aria-expanded="false" aria-controls="fundsNavbar" role = "button" style = "margin-bottom: 10px">
      Narrow Search
    </button>
    <br>
    <div class="collapse" id="fundsNavbar">
      <%= render partial: 'layouts/funds_navbar' %>
    </div>
  </div>
  
    <main role="main">
      <div class = "album py-5 bg-light">
        <div class = "container">
          <div class = "row">
            <% @resources.each do |resource| %>
              <div class = "col-lg-3 col-md-4 col-sm-12 mb-3", align = "center">
                <div class="card" style="height: 275px;">
                  <div class="card-body">
                    <h2><%= link_to resource.title, controller: "resources", action: "show", id: resource, class: "black-link" %></h2>
                    <% if resource.description %>
                      <p><%= link_to truncate(resource.description, :length => 200), controller: "resources", action: "show", id: resource, class: "black-link" %><p>
                    <% end %>
                  </div>
                  <!---<div class="card-footer">
                    <%= link_to "External Link", "#{resource.web}", class: "btn btn-primary", :target => "_blank"  %>
                  </div>--->
                </div>  
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </main> 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  

<svg xmlns="http://www.w3.org/2000/svg" width="208" height="225" viewBox="0 0 208 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="11" style="font-weight:bold;font-size:11pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body>


        


