<div class="container">
  
  <!-- header -->
  <h1 id = "resource_search"><center> Search for a Resource Here </center></h1>
  
  <div class="row" style="padding-top:50px">
    
    <div class="col-2">
      
      <!-- eligibility filter --> <!-- want this to be on the same level as the search bar -->
      <div position="absolute">
      <%= render partial: 'layouts/funds_navbar' %>
      </div>
      
    </div>
      
    
    <div class="col-10">
      
      <!-- search bar -->
      <div id="search_bar" style="padding-bottom:50px">
          <%= form_tag(search_index_path, method: "get") do %>
          <%= text_field_tag :query %>asdf
          <%= submit_tag("Search", :style => "color: white; font-family: \"Futura\";") %>
          <% end %>
      </div>
      
      <!-- results -->
      <div class="card-columns">
        <% @resources.each_with_index do |resource, i| %>
        <a href="resources/<%=i+1%>">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%=resource.title%></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget risus sit amet nisl mattis condimentum.</p>
            <a href="#" class="btn btn-primary">Link to Application</a>
          </div>
        </div>
        </a>
        <% end %>
      </div>

    </div><!-- class col-10 -->
    
  </div><!-- class row -->
</div>
