<div class="container">

    <h1><%= @resource.title%></h1>
    <h3><%= @resource.amount%></h3>
    <h3><%= @resource.source%></h3>
    <h3><%= @resource.cp%></h3>
    <h3><%= @resource.description%></h3>

</div>
