<div class="container">

    <h1 class="result-text"><%= @resource.title %></h1>
    
    <% if @resource.amount %>
    <h3 class="result-text">Amount: $<%= @resource.amount %></h3>
    <% end %>
    
    <% if @resource.source %>
        <h3 class="result-text">Source: <%= @resource.source %></h3>
    <% end %>
    
    <% if @resource.contact_person %>
    <h3 class="result-text">Contact Person: <%= @resource.contact_person %></h3>
    <% end %>
    
    <% if @resource.description %>
    <h3 class="result-text">Description: <%= @resource.description %></h3>
    <% end %>
    
    <%= link_to "Contact Info", "#{@resource.web}", class: "btn btn-primary", :target => "_blank"  %>
</div>
