<!-- left hand navigation bar -->
<div class="col-sm" position="absolute">
    <div class="sidenav">

      <!-- requirements check boxes -->
      <a>Elgibility</a>
      
      <%= form_with(url: "/search", method: "get") do %>
      
      <%= hidden_field_tag :query, params[:query] %>
      
      <%= check_box_tag(:notFinAid, "Not Tied to Financial Aid") %>
      <%= label_tag(:notFinAid, "Not Tied to Financial Aid") %>
      <br>

      <%= submit_tag("Search") %>
      

      <% end %>
  </div>
</div>