<!-- left hand navigation bar -->
<div class="col-sm" position="absolute">
    <div class="sidenav">

      <!-- requirements check boxes -->
      <a>Eligibility</a>
      
      <%= form_with(url: "/search", method: "get") do %>
      
      <%= hidden_field_tag :query, params[:query] %>
      
      <% @tags.each do |tag| %>
        <%= check_box_tag(tag.name, tag.name) %>
        <%= label_tag(tag.name, tag.name) %> <br>
      <% end %>
      
      <br>

      <%= submit_tag("Update tags") %>
      

      <% end %>
  </div>
</div>