<nav>
  <%= link_to root_path do %>
  <%= image_tag "Logo.png", class: "navbar-brand" %>
  <% end %>

  <ul>
      <li>
      <%= link_to "Resources", funds_path, class: "#{"active" if (current_page? funds_path)}"%>
      <li>
        <%= link_to "Browse", browse_path, class: "#{"active" if (current_page? browse_path)}"%>
      </li>
      <li>
        <%= link_to "Contact", contact_path, class: "#{"active" if (current_page? contact_path)}"%>
      </li>
  </ul>
</nav>
